/* .gridContainer {
    display:flex;
    height: 100%;
} */

body {
    margin: 0;
}
.left {
    background: url(images/pianocover.jpg);
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url(images/.jpg); */
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    /* border: 1px solid black; */
 }

 .left .content {
     background-color: rgb(0,0,0, 0.3);
     padding: 25vh 7vh;
     font-family: 'Limelight', cursive;
     font-size: 3vh;
     color: white;
 }
 .left a {
     color: black;
     text-decoration: none;
 }
.content:hover {
    background-color: rgb(0,0,0, 0.4);
}
.left a:hover {
    cursor:grab;
}
.center {
    text-align: center;
}
.center h1 {
    margin: 1vh;
    font-size: 4vh;
}
.grid {
    display: grid;
    grid-gap: 4vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.link {
    background-color: rgb(0,0,0, 0.3);
    /* padding: 20px; */
    transition: 0.8s;
}
.link:hover {
    background-color: rgb(0,0,0, 0.5);
}
.link a {
    display: block;
    cursor:grab;
    padding: 1vh 20vw;
}
a img {
    height: 8vh;
}
@media screen and (max-width: 824px) {
    .left, .right {
        position: relative;
        width: 100%;
        height: auto;
    }
    .left .content {
        padding: 10px 70px;
        margin: 10px;
        /* font-size: 0.8rem; */
    }
}
@media screen and (max-width: 600px){
    .left .content {
        padding: 15px 7px;
        margin: 10px;
        background-color: rgb(0,0,0, 0.4);
    }
}
/* @media only screen and (min-width: 568px){
    .left .content {
        padding: 10px 70px;
        margin: 10px;
    }
} */