body  {
    margin: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: 1fr;
    height: 100vh;
    /* column-gap: 10px; */
    /* background-color: lightblue; */
    
}
.box1 {
    background: url(images/pianocover.jpg);
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box1 .content {
    background-color: rgb(0,0,0, 0.3);
    padding: 25vh 7vh;
    font-family: 'Limelight', cursive;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.4s;
    text-decoration: none;
}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 151, 151, 0.3);
    color: white;
    padding: 10px;
}
form {
    width: 50vw;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.6);
    /* margin: 30px; */
    padding: 20px;
    border: 1px solid lightgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.4s;
}
form h1, h4 {
    text-align: center;
}
form h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box2 input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size:large;
}

.box2 fieldset {
    width: 100%;
    padding: 10px;
    margin: 10px -2px;
    border-radius: 5px;
    border: 3px solid lightgray;
}
.box2 input[type="submit"] {
    width: 100%;
    padding: 10px 16px;
    border: 3px solid lightgray;
    margin-top: 9px;
    border-radius: 5px;
    font-size: large;
}

input[type="text"]:hover,
fieldset:hover,
input[type="submit"]:hover {
    border: 3px solid #0275d8;
}
input[type="submit"] {
    color: gray;
}
input[type="submit"]:hover {
    border: 3px solid #0275d8;;
    color: white;
    background-color: #0275d8;
}
.content:hover {
    background-color: rgb(0,0,0, 0.5);
}
form:hover {
    background-color: rgb(0,0,0, 0.7);
}
@media screen and (max-width: 995px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
        height:auto;
    }
    .box .content {
        padding: 30px;
    }
    form {
        width: 100%;
    }
}