
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background: no-repeat url(images/pianocover.jpg);
    background-size: cover;

}

.border {
    color:white;
    background-color: rgb(0,0,0, 0.3);
    text-align: center;
    
}
.border header {
    margin: 0;
}
.border header h1 {
    font-size: 2.8rem;
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    font-family: 'Limelight', cursive;
}
.border header h1:hover {
    cursor: default;
}

.nav {
    display: flex;
    justify-content: space-around;
}

ul {
    background-color: rgb(0,0,0, 0.3);
    color: white;
    list-style-type:none;
    position:fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul li{
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 66px;
    font-size: 1.3rem;
    font-weight: bold;
    transition: .8s;
}

li a:hover {
    background-color: rgb(0,0,0, 0.6);
    padding: 12px 76px;
}

.divfoot {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.3);
    width: 100%;
}

.divfoot footer {
    display: flex;
    justify-content: center;
}

.divfoot a {
    padding: 4px 16px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

.divfoot a:hover {
    background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 995px) {
    ul li {
        float: none;
    }
    .nav {
        display: block;
    }
}

@media screen and (max-width: 455px){
    .nav {
        text-align: center;
    }
}



