
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background: no-repeat url(images/pianocover.jpg);
    background-size: cover; */
    background: url(images/pianocover.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.border {
    color:white;
    background-color: rgb(0,0,0, 0.3);
    text-align: center;
    
}
.border header {
    margin: 0;
}
.border header h1 {
    font-size: 2.8rem;
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    font-family: 'Limelight', cursive;
}
.border header h1:hover {
    cursor: default;
}

.nav {
    display: flex;
    justify-content: space-around;
}

ul {
    background-color: rgb(0,0,0, 0.3);
    color: white;
    list-style-type:none;
    position:relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul li{
    /* float: left; */
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 66px;
    font-size: 1.3rem;
    font-weight: bold;
    transition: .8s;
}

li a:hover {
    background-color: rgb(0,0,0, 0.6);
    padding: 12px 76px;
}
.about {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}
.aside {
    background-color: rgba(174, 205, 252, 0.8);
    margin: auto;
    max-width: 600px;
    font-size: 1.7rem;
}

.form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    /* margin:auto; */
    /* margin-top: 9%; */
    color: white;
}
form {
    width: 50vw;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.6);
    /* margin: 30px; */
    padding: 20px;
    border: 1px solid lightgray;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form h1, h4 {
    text-align: center;
}
form h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form_section input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-size:large;
}
.form_section fieldset {
    width: 100%;
    padding: 10px;
    margin: 10px -2px;
    border-radius: 5px;
    border: 3px solid lightgray;
}
.form_section input[type="submit"] {
    width: 100%;
    padding: 10px 16px;
    border: 3px solid lightgray;
    margin-top: 9px;
    border-radius: 5px;
    font-size: large;
}

input[type="text"]:hover,
fieldset:hover,
input[type="submit"]:hover {
    border: 3px solid skyblue;
}

.divfoot {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(0,0,0,0.3);
    width: 100%;
}

.divfoot footer {
    display: flex;
    justify-content: center;
}

.divfoot a {
    padding: 4px 16px;
    color: rgb(255, 255, 255);
    transition: 0.8s;
}

.divfoot a:hover {
    background-color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 995px) {
    ul li {
        float: none;
    }
    .nav {
        display: block;
    }
    .aside {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 455px){
    .nav {
        text-align: center;
    }
    .aside {
        font-size: 1.3rem;
    }
}



